/nbproject/private/
/SMH2-war/nbproject/private/
/SMH2-ejb/nbproject/private/
/build/
/SMH2-ejb/build/
/SMH2-ejb/dist/
/dist/
/SMH2-war/dist/
/SMH2-war/build/
/SMH2-J2SE/nbproject/private/
/SMH2-J2SE/build/
/SMH2-desktop/nbproject/private/